---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"body"> {
	title?: string;
}

import "~/global.css";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL('/images/preview.png', Astro.url);

const { title = "", ...attrs } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{/* TODO: Replace site title and meta description. */}
		<title>{title && title + " | "}[Site Name]</title>
		<meta name="description" content="Meta description between 70 & 160 chars" />

        <link rel="canonical" href={canonicalURL} />

        {/* TODO: change favicon */}
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta
			property="og:title"
			content={`${title && title + " | "}[Site Name]`}
		/>
		<meta
			property="og:description"
			content="[Meta Description]"
		/>
		<meta
			property="og:image"
			content={socialImageURL}
		/>

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url.toString()} />
		<meta
			property="twitter:title"
			content={`${title && title + " | "}[Site Name]`}
		/>
		<meta
			property="twitter:description"
			content="[Meta Description]"
		/>
		<meta
			property="twitter:image"
			content={socialImageURL}
		/>
	</head>
	<body {...attrs}>
		<slot />
	</body>
</html>
